/* ПОСТОЯННЫЕ КЛИЕНТЫ */

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
}

.clients-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .clients-list-item-link:hover &,
  .clients-list-item-link:focus & {
    fill: $accent-color;
  }
}

@media (max-width: 479px) {
  .clients-list {
    display: block;
  }
  .clients-list-item-link {
    width: 210px;
  }

  .clients-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .clients-list-item-link {
    width: 210px;
  }

  .clients-list-item:nth-child(2n - 1) {
    margin-right: 30px;
  }

  .clients-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .clients-list-item-link {
    width: 226px;
  }

  .clients-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  .clients-list-item:nth-last-child(n + 4) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .clients-list-item-link {
    width: 170px;
  }
}
