/* ШАПКА САЙТА */

.header {
  border-bottom: 1px solid #ececec;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $main-logo-color;

  &-element {
    color: $element-logo-color;
  }
}

.header-mail-svg {
  margin-right: 10px;
  fill: $main-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-phone-svg {
  margin-right: 10px;
  fill: $main-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item-link:hover .header-mail-svg,
.address-list-item-link:focus .header-mail-svg,
.address-list-item-link:hover .header-phone-svg,
.address-list-item-link:focus .header-phone-svg {
  fill: $accent-color;
}

.navigation-list-link {
  position: relative;
  display: inline-flex;
}

.navigation-list-link.current-page-link::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  bottom: -8px;
  left: 0;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-item-link:hover,
.address-list-item-link:focus {
  color: $accent-color;
}

.navigation-list-link,
.address-list-item-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link {
  color: $title-color;
}

.address-list-item-link {
  color: $main-text-color;
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .menu-button .burger-close {
    display: none;
  }

  .menu-button.is-open .burger-close {
    display: block;
  }

  .menu-button.is-open .burger {
    display: none;
  }
  .menu-button:hover .burger,
  .menu-button:focus .burger,
  .menu-button:hover .burger-close,
  .menu-button:focus .burger-close {
    fill: $accent-color;
  }

  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
    &.is-open {
      display: block;
    }
  }

  .navigation-list {
    margin-bottom: 60px;
  }

  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .navigation-list-link,
  .address-list-item-link {
    font-size: 18px;
    line-height: 1.17;
  }

  .address-list-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .current-page-link {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .menu-button {
    display: none;
  }

  .menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }

  .navigation-list {
    display: flex;
    margin-right: 84px;
  }

  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }

  .navigation-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .navigation-list-link.current-page-link::after {
    bottom: 0;
  }

  .address-list-item-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .navigation-list {
    display: flex;
    margin-right: 305px;
  }

  .address-list {
    display: flex;
    align-items: baseline;
  }

  .address-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .address-list-item-link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
