/* ПОЧЕМУ МЫ */

.subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  color: #212121;
}

.why-are-we-feature {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-text-color;
}

.why-img {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: $section-background-color;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .why-are-we-list-item {
    max-width: 480px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .why-are-we-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .why-are-we-list-item {
    width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .why-are-we-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }

  .why-are-we-list-item:nth-child(2n - 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .why-are-we-list-item {
    width: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
