$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
$title-color: #212121;
$main-text-color: #757575;
$section-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$footer-link-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$main-logo-color: #000000;
$footer-logo-color: #ffffff;
$element-logo-color: #2196f3;
